<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="UTF-8">
        <title>Página de Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-cookies.js"></script>                
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-sanitize.min.js"></script>                
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-animate.min.js"></script>                

        <!--Bootstrap  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <!-- Toast Lib -->
        <script src="/static/assets/js/ngToast.min.js"></script>                
        <script src="/static/assets/js/ui-bootstrap-tpls-2.5.0.min.js" type="text/javascript"></script>
        
        <link rel="stylesheet" href="/static/assets/css/ngToast.min.css">

        <link href="/static/assets/css/ngToast-animations.min.css" rel="stylesheet" >

        <!-- Custom styles for this template -->
        <!--<link href="/static/assets/css/internas.css" rel="stylesheet">--> 

        <!-- Angular route-->
        <script src="/static/assets/js/angular-route.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="/static/assets/css/login.css">

<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-cookies.js"></script>                -->
        <!-- Angular route-->
        <script src="/static/assets/js/angular-route.js" type="text/javascript"></script>
        <!--<script src="/static/application/modules/Login.js" type="text/javascript"></script>-->

        <!-- cria dos módulos -->
        <!--<script src="/static/application/modules/Login.js" type="text/javascript"></script>-->
        <script src="/static/application/modules/App.js" type="text/javascript"></script>


        <!-- Arquivos que configuram diretivas -->
        <script src="/static/application/config/routes.js" type="text/javascript"></script>
        <script src="/static/application/config/ACL.js" type="text/javascript"></script>

        <script src="/static/application/services/Api.js" type="text/javascript"></script>
        <script src="/static/application/services/AuthService.js" type="text/javascript"></script>
        <script src="/static/application/services/ToastService.js" type="text/javascript"></script>

        <script src="/static/application/controller/CadastrarCtrl.js" type="text/javascript"></script>
        <script src="/static/application/controller/ListarCtrl.js" type="text/javascript"></script>        
        <script src="/static/application/controller/LoginCtrl.js" type="text/javascript"></script>              
    </head>

    <body ng-controller="LoginCtrl">
        
        <toast></toast>
        <div class="login">
            <h1>Login SysET</h1>
            <form>
                <input type="text" ng-keydown="keypress(user.nome,$event)" ng-model="user.nome" name="u" placeholder="Usuário" required="required" />
                <input type="password" ng-model="user.senha" id="pass" focusOn="passFocus" name="p" placeholder="Senha" required="required" />                
                <button type="submit"  ng-click="$root.login()"  class="btn btn-primary btn-block btn-large">Entrar</button>

            </form>
        </div>
    </body>
</html>
