
<div class="row">
    <h1 class="text-center cabecalho"> Planejamentos de Relatório </h1>
</div>

<div class="row">    
    <!--<div class="col-md-3 col-md-offset-9" >-->
    <div class="pull-right">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#InserirModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Cadastrar Planejamento
        </button>
    </div>
</div>

<div class="row">
    <table class="table table-hover">
        <thead>            
        <th>Data Inicial</th>
        <th>Data Final</th>
        <th>Status</th>
        <th>Opções</th>
        <th></th>
        </thead>
        <tr ng-repeat="plan in planejamentos| orderBy:'dt_inicio'" >    
            <td>{{plan.dt_inicio|  date:'dd/MM/yyyy'}}</td>
            <td>{{plan.dt_final| date:'dd/MM/yyyy'}}</td>
            <td>{{plan.status}}</td>            

            <td class="dropdown">
                <a id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%"> 
                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> 
                </a>        
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-if="plan.status.trim() === 'Enviado para análise'">
                    <li data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="setRelatorio(plan); buscaPlanejamento(plan.Cod_relatorio, diaDaSemana)"><a>Ver planejamento</a></li>
                    <li data-toggle="modal" data-target=".realizado" ng-click="setRelatorio(plan); buscaPlanejamentoRealizado(plan.Cod_relatorio, diaDaSemana)"><a>Ver Rota realizada</a></li>            
                    <li ng-click="setRelatorio(plan); gerarRelatorio(plan.Cod_relatorio)"><a>Gerar relatório</a></li>            
                </ul>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-if="plan.status.trim() === 'Planejado'">
                    <li data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="setRelatorio(plan); buscaPlanejamento(plan.Cod_relatorio, diaDaSemana)"><a>Ver Planejamento</a></li>            
                </ul>   

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-if="plan.status.trim() === 'Cadastrado'">
                    <li data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="setRelatorio(plan); buscaPlanejamento(plan.Cod_relatorio, diaDaSemana)"><a >Cadastrar/Alterar Planejamento</a></li>            
                </ul>


            </td>
        </tr>
    </table>
</div>
<!-- MODAL COM ABAS DO REALIZADO -->
<div class="modal fade realizado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="myModalLabel">Vendas Realizadas de <strong>{{relatorioCurrent.dt_inicio| date:'dd/MM/yyyy'}}</strong> a <strong>{{relatorioCurrent.dt_final| date:'dd/MM/yyyy'}}</strong></h4>
            </div>
            <div class="modal-body">
                <uib-tabset active="active">                    
                    <uib-tab index="$index+1" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-click="setDiaDaSemana($index + 1); buscaPlanejamentoRealizado(relatorioCurrent.Cod_relatorio, $index + 1)">

                        <div class ="bodyTab">                                                        
                            <table class="table table-hover" ng-if="tableDataRealizado[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]">
                                <thead >            
                                <th ng-repeat="header in headerTable">{{header.cabecalho|| header.nomeFornecedor}}</th>                                                                
                                </thead>

                                <!-- Impede que os planejamentos finalizados sejam alterado-->
                                <tr ng-repeat="cliente in tableDataRealizado[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]">    
                                    <td  > {{cliente.nomeCliente}} </td>                                     
                                    <td ng-repeat="value in headerTable.slice(1)"> {{cliente.fornecedores[value.fornecedor.trim()].vlrVenda || 00 | currency:"R$"}} </td>                                                                        
                                </tr>
                            </table>

                            <div ng-if="!tableDataRealizado[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]" class="center-block">
                                <h3>Nada foi vendido nesse dia!</h3>                                
                            </div>
                        </div>

                    </uib-tab>    
                </uib-tabset>

                <hr />

            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>                                
            </div>
        </div>
    </div>
</div>



<!-- MODAL COM ABAS DO PLANEJAMENTO-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="myModalLabel">Metas de Vendas de <strong>{{relatorioCurrent.dt_inicio| date:'dd/MM/yyyy'}}</strong> a <strong>{{relatorioCurrent.dt_final| date:'dd/MM/yyyy'}}</strong></h4>
            </div>
            <div class="modal-body">
                <uib-tabset active="active">
                    <!--<uib-tab index="0" heading="Segunda">-->        
                    <!--</uib-tab>-->

                    <uib-tab index="$index+1" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-click="setDiaDaSemana($index + 1); buscaPlanejamento(relatorioCurrent.Cod_relatorio, $index + 1)">
                        <button type="button" 
                                class="btn btn-success pull-right" 
                                data-toggle="modal" 
                                data-target="#cadastraVisita" 
                                data-dismiss="modal"
                                title="Adicionar visita"
                                ng-if="relatorioCurrent.status.trim() === 'Cadastrado'"
                                >
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Cadastrar Visita
                        </button>

                        <div class ="bodyTab">                                                        
                            <table class="table table-hover" ng-if="tableData[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]">
                                <thead >            
                                <th ng-repeat="header in headerTable">{{header.cabecalho|| header.nomeFornecedor}}</th>                                                                
                                </thead>

                                <!-- Tem a opção de editar ao clicar-->
                                <tr ng-repeat="cliente in tableData[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]" ng-if="relatorioCurrent.status.trim() === 'Cadastrado'">    
                                    <td data-toggle="modal" data-dismiss="modal" data-target=".alterarPlanejamento" ng-click="setCliente(cliente, objetivos); filtraFornecedor(cliente)" > {{cliente.nomeCliente}} </td>                                     
                                    <td data-toggle="modal" data-dismiss="modal" data-target=".alterarPlanejamento" ng-click="setCliente(cliente, objetivos); filtraFornecedor(cliente)" ng-repeat="value in headerTable.slice(1)"> {{cliente.fornecedores[value.fornecedor.trim()].vlrVenda || 00 | currency:"R$"}} </td>                                                                        

                                </tr>

                                <!-- Impede que os planejamentos finalizados sejam alterado-->
                                <tr ng-repeat="cliente in tableData[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]" ng-if="relatorioCurrent.status.trim() !== 'Cadastrado'">    
                                    <td> {{cliente.nomeCliente}} </td>                                     
                                    <td ng-repeat="value in headerTable.slice(1)"> {{cliente.fornecedores[value.fornecedor.trim()].vlrVenda || 00 | currency:"R$"}} </td>
                                </tr>
                            </table>

                            <div ng-if="!tableData[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]" class="center-block">
                                <h3>Não há planejamento cadastrado para esse dia!</h3>                                
                            </div>
                        </div>

                    </uib-tab>    
                </uib-tabset>

                <hr />

            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>                
                <button type="button" 
                        class="btn btn-primary"                        
                        data-toggle="modal" 
                        data-target="#finalizarPlan" 
                        data-dismiss="modal"
                        ng-if="relatorioCurrent.status.trim() === 'Cadastrado'">Finalizar planejamento</button>                
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmação de finalização de planejamento -->
<div class="modal fade" id = "finalizarPlan" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Finalizar Planejamento</h4>
            </div>
            <div class="modal-body">                
                <strong>Cuidado!</strong> Deseja realmente Finalizar o planejamento de  <strong>{{relatorioCurrent.dt_inicio| date:'dd/MM/yyyy'}}</strong> a <strong>{{relatorioCurrent.dt_final| date:'dd/MM/yyyy'}}</strong>? Uma vez finalizado, o planejamento não pode mais ser alterado.                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" 
                        class="btn btn-success" 
                        data-dismiss="modal" 
                        ng-click="finalizarPlanejamento(relatorioCurrent)"
                        >Sim</button>        
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Cadastro da visita -->
<div class="modal fade" id="cadastraVisita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-toggle="modal" 
                        data-target=".bs-example-modal-lg" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastrar Visita</h4>
            </div>
            <div class="modal-body">
                <form id="cadCli">                    
                    <label>Selecione o seu Cliente:</label>
                    <p>
                        <select class="btn btn-default" 
                                name = "cliente"
                                style="width: 70%"
                                ng-options="cliente as cliente.nomeCliente for cliente in clienteFornecedorDoVendedor| orderObjectBy:'nomeCliente' track by cliente.cliente"
                                ng-model="novo.cliente" 
                                ng-change="filtraFornecedor(novo.cliente)">          
                        </select>
                    </p>

                    <div ng-if="novo.cliente">

                        <label>Objetivo da Visita:</label>
                        <p>                             
                            <select class="btn btn-default" 
                                    name = "cliente"
                                    style="width: 70%"
                                    ng-options="objetivo as objetivo.desObjetivo for objetivo in objetivos| orderObjectBy:'desObjetivo' track by objetivo.codObjetivo"
                                    ng-model="novo.objetivo">          
                            </select>
                        </p>


                        <div class="form-group" 
                             ng-repeat="(i,fornecedor) in fornecedorDoVendedorFiltrado track by $index">
                            <label for="objVisita"> Expectativa de venda {{fornecedor.nomeFornecedor}}:</label>
                            <input ng-model="novo.valorFornecedor[fornecedor.fornecedor]" type="text" class="form-control" id="objVisita" placeholder="Valor em R$">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">                
                <button type="button" class="btn btn-default" 
                        data-dismiss="modal" 
                        data-toggle="modal" 
                        data-target=".bs-example-modal-lg">Cancelar</button>

                <button type="button" class="btn btn-primary"                        
                        data-dismiss="modal"
                        ng-click = "cadastrarVisita(novo.objetivo, relatorioCurrent, diaDaSemana, novo.cliente, novo.valorFornecedor)"
                        data-toggle="modal" 
                        data-target=".bs-example-modal-lg"
                        ng-disabled="!novo.objetivo || !novo.cliente || !novo.valorFornecedor"
                        >Gravar</button>                
            </div>
        </div>
    </div>
</div>

<!-- Modal Alterar visita-->
<div class="modal fade alterarPlanejamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-toggle="modal" 
                        data-target=".bs-example-modal-lg" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Alterar planejamento</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" >                       
                    <label> Cliente: </label>                                        
                    <p>
                        <input ng-model="alterado.nomeCliente" type="text" class="form-control" id="objVisita" ng-readonly="true">
                    </p>
                </div>

                <div class="form-group" >                       
                    <label> Objetivo da Visita: </label>                                        
                    <p>
                        <select class="btn btn-default" 
                                name = "objetivo"
                                style="width: 70%"
                                ng-options="objetivo as objetivo.desObjetivo for objetivo in objetivos| orderObjectBy:'desObjetivo' track by objetivo.codObjetivo"                                
                                ng-model="alterado.objObjetivo">          
                        </select>
                    </p>
                </div>                
                <div class="form-group" 
                     ng-repeat="(i,fornecedor) in fornecedorDoVendedorFiltrado track by $index">
                    <label for="objVisita"> Expectativa de venda {{fornecedor.nomeFornecedor}}:</label>
                    <input ng-model="alterado.fornecedores[fornecedor.fornecedor.trim()].vlrVenda" type="text" class="form-control" id="objVisita" placeholder="Valor em R$">
                </div>

            </div>

            <div class="modal-footer">                
                <button type="button" class="btn btn-default" 
                        data-dismiss="modal" 
                        data-toggle="modal" 
                        data-target=".bs-example-modal-lg">Cancelar</button>

                <button type="button" class="btn btn-primary"                        
                        data-dismiss="modal"                        
                        data-toggle="modal" 
                        data-target=".bs-example-modal-lg"
                        ng-click="alterarVisitaPlanejada(alterado, relatorioCurrent)"
                        >Salvar</button>                
            </div>
        </div>
    </div>
</div>


<!-- Modal de cadastro do planejamento -->
<div class="modal fade" id="InserirModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastrar Novo Planejamento</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <span>Data de início</span>
                        <p class="input-group">                            
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="dtInicio" is-open="popup1.opened" datepicker-options="dateOptionsInit" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <span>Data de Final</span>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="dtFinal" is-open="popup2.opened" datepicker-options="dateOptionsFim" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" 
                        ng-click="cadastrarPlanejamento(dtInicio, dtFinal)"
                        ng-disabled="!dtFinal || !dtInicio"
                        data-dismiss="modal">Gravar</button>                
            </div>
        </div>
    </div>
</div>