
<div class="row">
    <h1 class="text-center cabecalho"> Cadastro de rotas realizadas </h1>
</div>

<table class="table table-hover">
    <thead>            
    <th>Data Inicial</th>
    <th>Data Final</th>
    <th>Status</th>
    <th>Opções</th>
</thead>
<tr ng-repeat="plan in planejamentos| orderBy:'dt_inicio'" >    
    <td>{{plan.dt_inicio|  date:'dd/MM/yyyy'}}</td>
    <td>{{plan.dt_final| date:'dd/MM/yyyy'}}</td>
    <td>{{plan.status}}</td>

    <td class = "dropdown"> 
        <a id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%"> 
            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> 
        </a>        
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-if="plan.status.trim() === 'Planejado'">
            <li><a data-toggle="modal" data-target=".verPlanejamento" ng-click="setRelatorio(plan); buscaPlanejamento(plan.Cod_relatorio, diaDaSemana);">Ver planejamento</a></li>
            <li><a data-toggle="modal" data-target=".listaVisitasRealizadaPlanejada" ng-click="setRelatorio(plan); buscaVisitaRealizada(plan.Cod_relatorio, diaDaSemana, plan); calculaVisitasRealizadas(plan)" >Cadastrar/Alterar Rota realizada</a></li>            
        </ul>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-if="plan.status.trim() !== 'Planejado'">
            <li><a data-toggle="modal" data-target=".verPlanejamento" ng-click="setRelatorio(plan); buscaPlanejamento(plan.Cod_relatorio, diaDaSemana);">Ver planejamento</a></li>
            <li><a data-toggle="modal" data-target=".verRealizado" ng-click="setRelatorio(plan); buscaPlanejamentoRealizado(plan.Cod_relatorio, diaDaSemana, plan);" >Ver rota realizada</a></li>            
        </ul>
    </td>            
</tr>
</table>

<!-- MODAL COM ABAS DO VER REALIZADO -->
<div class="modal fade verRealizado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="myModalLabel">Vendas Realizadas de <strong>{{relatorioCurrent.dt_inicio| date:'dd/MM/yyyy'}}</strong> a <strong>{{relatorioCurrent.dt_final| date:'dd/MM/yyyy'}}</strong></h4>
            </div>
            <div class="modal-body">
                <uib-tabset active="active">                    
                    <uib-tab index="$index+1" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-click="setDiaDaSemana($index + 1); buscaPlanejamentoRealizado(relatorioCurrent.Cod_relatorio, $index + 1)">

                        <div class ="bodyTab">                                                        
                            <table class="table table-hover" ng-if="tableDataRealizado[relatorioCurrent.Cod_relatorio + diaDaSemana]">
                                <thead >            
                                <th ng-repeat="header in headerTable">{{header.cabecalho|| header.nomeFornecedor}}</th>                                                                
                                </thead>

                                <!-- Impede que os planejamentos finalizados sejam alterado-->
                                <tr ng-repeat="cliente in tableDataRealizado[relatorioCurrent.Cod_relatorio + diaDaSemana]">    
                                    <td  > {{cliente.nomeCliente}} </td>                                     
                                    <td ng-repeat="value in headerTable.slice(1)"> {{cliente.fornecedores[value.fornecedor.trim()].vlrVenda || 00 | currency:"R$"}} </td>                                                                        
                                </tr>
                            </table>

                            <div ng-if="!tableDataRealizado[relatorioCurrent.Cod_relatorio + diaDaSemana]" class="center-block">
                                <h3>Nada foi vendido nesse dia!</h3>                                
                            </div>
                        </div>

                    </uib-tab>    
                </uib-tabset>

                <hr />

            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>                                
            </div>
        </div>
    </div>
</div>

<!-- MODAL ver Planejamento-->
<div class="modal fade verPlanejamento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="myModalLabel">Planejamento de Vendas de <strong>{{relatorioCurrent.dt_inicio| date:'dd/MM/yyyy'}}</strong> a <strong>{{relatorioCurrent.dt_final| date:'dd/MM/yyyy'}}</strong></h4>
            </div>

            <div class="modal-body">
                <uib-tabset active="active">                    
                    <uib-tab index="$index+1" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-click="setDiaDaSemana($index + 1); buscaPlanejamento(relatorioCurrent.Cod_relatorio, $index + 1)">                        
                        <div class ="bodyTab">                                                        
                            <table class="table table-hover" ng-if="tableDataPlanejamento[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]">
                                <thead >            
                                <th ng-repeat="header in headerTable">{{header.cabecalho|| header.nomeFornecedor}}</th>                                
                                </thead>
                                <tr ng-repeat="cliente in tableDataPlanejamento[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]">    
                                    <td> {{cliente.nomeCliente}} </td>                                     
                                    <td ng-repeat="value in headerTable.slice(1)"                                        
                                        ng-click="setCliente(cliente)"
                                        > {{cliente.fornecedores[value.fornecedor.trim()].vlrVenda || 00 | currency:"R$"}} </td>                                                                        
                                </tr>
                            </table>
                            <div ng-if="!tableDataPlanejamento[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]" class="center-block">
                                <p class="lead">Não há planejamento de visita para este dia!</p>                                                                
                            </div>
                        </div>
                    </uib-tab>    
                </uib-tabset>
                <hr />
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!--Modal que mostra os clientes para cadastrar rota realizada -->
<div class="modal fade listaVisitasRealizadaPlanejada" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="myModalLabel">Cadastro de rota realizada de <strong>{{relatorioCurrent.dt_inicio| date:'dd/MM/yyyy'}}</strong> a <strong>{{relatorioCurrent.dt_final| date:'dd/MM/yyyy'}}</strong></h4>
            </div>

            <div class="modal-body">
                <uib-tabset active="active">                    
                    <uib-tab index="$index+1" ng-repeat="tab in tabs" heading="{{tab.title}}" ng-click="setDiaDaSemana($index + 1); buscaVisitaRealizada(relatorioCurrent.Cod_relatorio, $index + 1, relatorioCurrent)">                        
                        <div class ="bodyTab">                                                        
                            <table class="table table-hover" ng-if="tableData[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]">                                   
                                <thead >            
                                <th> Status  </th>                                
                                <th> Cliente </th>
                                <th></th>
                                </thead>
                                <tr ng-repeat="cliente in tableData[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]">    
                                    <td data-toggle="modal" 
                                        data-target=".cadastraVisitaRealizada"                                         
                                        data-dismiss="modal"
                                        ng-click="setCliente(cliente)">   

                                        <span class="glyphicon" 
                                              ng-class='{"glyphicon-ok text-success" : cliente.visitado,
                                                         "glyphicon-remove text-danger" : !cliente.visitado}' 
                                              aria-hidden="true">                                              

                                        </span>  
                                    </td>

                                    <td data-toggle="modal" 
                                        data-target=".cadastraVisitaRealizada"                                         
                                        data-dismiss="modal"
                                        ng-click="setCliente(cliente)"> {{cliente.nomeCliente}}</td>                                                                                                                                                                                      
                                    <td>
                                        <button  data-toggle="modal" 
                                                 data-target=".cadastraVisitaRealizada"                                         
                                                 data-dismiss="modal"
                                                 ng-click="setCliente(cliente)" 
                                                 class="btn btn-default btn-sm"
                                                 >
                                            <span class="glyphicon text-primary" 
                                              ng-class='{"glyphicon-pencil" : cliente.visitado,
                                                      "glyphicon-plus " : !cliente.visitado}'>                                          
                                            </span>                                              
                                        </button>
                                        
                                    </td>    
                                </tr>                                
                            </table>

                            <div ng-if="!tableData[relatorioCurrent.Cod_relatorio.toString() + diaDaSemana.toString()]" class="center-block">
                                <h3>Você não planejou nada para este dia!</h3>                                
                            </div>                            
                        </div>
                    </uib-tab>    
                </uib-tabset>
                <hr />
            </div>
            <div class="modal-footer">  
                <p class="lead pull-left"> Clientes finalizados: 
                    <span ng-class='{
                        "text-success": relatorioCurrent.visitaRealizadas === relatorioCurrent.totalVisitas,
                        "text-danger": relatorioCurrent.visitaRealizadas !== relatorioCurrent.totalVisitas   
                    }'>
                        <strong>{{relatorioCurrent.visitaRealizadas}}/{{relatorioCurrent.totalVisitas}}</strong>
                    </span>
                </p>                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button ng-if="relatorioCurrent.visitaRealizadas === relatorioCurrent.totalVisitas" ng-click="finalizarRelatorio(relatorioCurrent)" type="button" class="btn btn-primary" data-dismiss="modal">Finalizar Relatório</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Cadastro da visita realizada-->
<div class="modal fade cadastraVisitaRealizada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-toggle="modal" 
                        data-target=".bs-example-modal-lg" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{novo.header}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" >
                    <label for="objVisita"> Cliente:</label>
                    <input ng-model="novo.cliente.nomeCliente" type="text" class="form-control" id="objVisita" ng-readonly="true">
                </div>

                <div class="form-group" >                       
                    <label> Objetivo da Visita: </label>                                        
                    <p>
                        <select class="btn btn-default" 
                                name = "cliente"
                                style="width: 70%"
                                ng-options="objetivo as objetivo.desObjetivo for objetivo in objetivos| orderObjectBy:'desObjetivo' track by objetivo.codObjetivo"
                                ng-model="novo.objetivo">          
                        </select>
                    </p>
                </div>

                <div class="form-group" 
                     ng-repeat="fornecedor in novo.cliente.fornecedores track by $index">
                    <p><small>Venda Planejada para <strong>{{fornecedor.nomeFor}}</strong>: <strong>{{fornecedor.vlrVenda| currency: 'R$'}}</strong></small></p>
                    
                    <label for="objVisita"> Venda Realizada {{fornecedor.nomeFor}}:</label>                    
                    <input ng-model="fornecedor.vlrVendaRealizado" type="text" class="form-control" id="objVisita" placeholder="Valor em R$">
                </div>

                <div class="form-group">
                    <label for="objVisita"> Descrição da Visita Realizada: </label>
                    <input ng-model="novo.cliente.desc" type="text" class="form-control" id="objVisita" placeholder="Descrição da visita">
                </div>
            </div>

            <div class="modal-footer">                
                <button type="button" class="btn btn-default pull-left" 
                        data-dismiss="modal" 
                        data-toggle="modal" 
                        ng-click="cadastrarVisitaNaoRealizada(novo, relatorioCurrent, diaDaSemana)"
                        data-target=".listaVisitasRealizadaPlanejada">Visita não realizada!</button>

                <button type="button" class="btn btn-default" 
                        data-dismiss="modal" 
                        data-toggle="modal" 
                        data-target=".listaVisitasRealizadaPlanejada">Cancelar</button>

                <button type="button" class="btn btn-primary"                        
                        data-dismiss="modal"
                        ng-click = "cadastrarVisitaRealizada(novo, relatorioCurrent, diaDaSemana)"
                        data-toggle="modal" 
                        data-target=".listaVisitasRealizadaPlanejada"                        
                        >{{novo.botao}}</button>                
            </div>
        </div>
    </div>
</div>
