<div class="row">
    <h1 class="text-center cabecalho"> Cadastro de Usuários do Sistema</h1>
</div>

<div class="row searchBar">
    <div class="col-md-offset-4 col-md-3">
        <button type="button" class="btn btn-success meusBotoes" style="top:0px" data-toggle="modal" data-target="#InserirModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Inserir
        </button>
    </div>
    <div class="col-md-5">
        <div id="custom-search-input">
            <div class="input-group col-md-12">                
                <input type="text" class="form-control input" placeholder="Buscar" ng-model="search"/>
                <span class="input-group-btn">
                    <button class="btn btn-info btn" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>


<!-- Modal Cadastrar -->
<div class="modal fade" id="InserirModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Inserir Novo Usuário</h4>
            </div>
            <div class="modal-body">
                <form id="cadCli">
                    <span class="lead">Selecione o Funcionario</span>
                    <p>
                        <select class="btn btn-default btn-lg" 
                                name = "cliente"
                                style="width: 70%"
                                ng-options="vendedor as vendedor.nome for vendedor in vendedores track by vendedor.id"
                                ng-model="novo.vendedor" >          
                        </select>
                    </p>


                    <span class="lead">Selecione o Previlégio do usuário</span>
                    <p>                        
                        <select class="btn btn-default btn-lg" 
                                name = "fornecedor" 
                                style="width: 70%"
                                ng-options="fornecedor as fornecedor.nome for fornecedor in fornecedores track by fornecedor.id"
                                ng-model="novo.fornecedor" >                                     
                        </select>
                    </p>


                    <div class="form-group">
                        <label for="objVisita"> Digite a senha do usuário: </label>
                        <input ng-model="novo.passw" type="password" class="form-control" id="objVisita" placeholder="Senha">
                    </div>
                    <div class="form-group">
                        <label for="objVisita"> Confirme a senha do usuário: </label>
                        <input ng-model="novo.passwConfirm" type="password" class="form-control" id="objVisita" placeholder="Senha">
                    </div>
            </div>

            <div class="modal-footer">                
                <button type="button" class="btn btn-primary" ng-click="cadastrar(novo)" data-dismiss="modal">Gravar</button>
            </div>
        </div>
    </div>
</div>

