
<div class="row">
    <h1 class="text-center cabecalho"> Cadastro de Vendedor Da Seção do Cliente </h1>
</div>

<div class="row searchBar">
    <div class="col-md-offset-4 col-md-3">
        <button type="button" class="btn btn-success meusBotoes" style="top:0px" data-toggle="modal" data-target="#InserirModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Inserir
        </button>
    </div>
    <div class="col-md-5">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="form-control input" placeholder="Buscar" ng-model="search"/>
                <span class="input-group-btn">
                    <button class="btn btn-info btn" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Listagem -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default" ng-repeat="cli in raiz.cli| orderObjectBy:'nomeCliente' | regex:'nomeCliente':'^':search" >
        <!--Marrom, mas com isso ele so vai atualizar se tu clicar, e quando tu clicar em outro nao vai atualizar o icone do outro-->
        <div class="panel-heading" role="tab" id="{{cli.idCli}}"> <!---->
            <h4 class="panel-title">
                <a type="button" data-toggle="collapse" ng-click="Ativar(raiz.cli, cli)" data-parent="#accordion" data-target="#collapseOne{{cli.idTag}}" aria-expanded="false" aria-controls="collapseOne">
                    <span class="glyphicon" ng-class='{"glyphicon-plus-sign" : !cli.ativo, "glyphicon-minus-sign": cli.ativo}' aria-hidden="true"></span> Cliente - {{cli.nomeCliente}}
                </a>
            </h4>
        </div>

        <!-- FORNECEDOR -->
        <div id="collapseOne{{cli.idTag}}" class="panel-collapse collapse" role="tablist"  aria-labelledby="{{cli.idTag}}" aria-multiselectable="true"> 
            <div class="panel-body">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title" ng-repeat="forn in cli.fornecedores"> <!--  -->
                        <a ng-click="Ativar(cli.fornecedores, forn)" class = "list-group-item" data-toggle="collapse" data-parent="#{{cli.idTag}}" aria-expanded="false" data-target="#collapseTwo{{cli.idTag}}{{forn.idTag}}" aria-controls="collapseTwo{{cli.idCli}}{{cli.idCli}}">
                            <span  class="glyphicon" ng-class='{"glyphicon-plus-sign" : !forn.ativo, "glyphicon-minus-sign": forn.ativo}' aria-hidden="true"></span> Fornecedor - {{forn.nomeFor}}
                        </a>

                        <!-- SECAO -->
                        <div id="collapseTwo{{cli.idTag}}{{forn.idTag}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseOne{{cli.idTag}}">
                            <div class="panel-body">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title " ng-repeat="sec in forn.secoes">
                                        <a ng-click="Ativar(forn.secoes, sec)" class = "list-group-item" data-toggle="collapse"  data-parent="#collapseOne" aria-expanded="false" data-target="#collapse3{{cli.idTag}}{{forn.idTag}}{{sec.idTag}}" aria-controls="collapse3{{cli.idTag}}{{forn.idTag}}{{sec.idTag}}">
                                            <span  class="glyphicon" ng-class='{"glyphicon-plus-sign" : !sec.ativo, "glyphicon-minus-sign": sec.ativo}'></span> Seção - {{sec.nomeSecao}}
                                        </a>

                                        <!-- VENDEDOR -->
                                        <div id="collapse3{{cli.idTag}}{{forn.idTag}}{{sec.idTag}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseTwo{{cli.idCli}}{{forn.idFor}}">
                                            <div class="panel-body">
                                                <a class="list-group-item" ng-repeat="vendedor in sec.vendedores" data-toggle="collapse" data-parent="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                    Vendedor - {{vendedor.nomeVendedor}}
                                                    <div class="meusBotoes">
                                                        <button type="button" class="btn btn-danger" data-toggle="modal"  data-target="#deleteModal" ng-click="DeletarModal(cli.idCli, forn.idFor, sec.idSecao, vendedor.idVendedor)">Deletar</button>
                                                        <button type="button" class="btn btn-primary" data-toggle="modal"  data-target="#myModal" ng-click="AlterarModal(cli.idCli, cli.nomeCliente, forn.idFor, forn.nomeFor, sec.idSecao, sec.nomeSecao, vendedor.idVendedor, vendedor.nomeVendedor)">Alterar</button>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Alterar-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Alterar</h4>
            </div>
            <div class="modal-body">
                <form id="cadCli">
                    <span class="lead">Selecione o Cliente:</span>
                    <p>
                        <select class="btn btn-default btn-lg" 
                                name = "cliente"
                                style="width: 70%"
                                ng-options="cliente as cliente.nome for ClienteFornecedorDoVendedor in clientes track by cliente.id"
                                ng-model="alterado.cliente" >          
                        </select>
                    </p>


                    <span class="lead">Selecione o Fornecedor:</span>
                    <p>                       
                        {{alterado.fornecedor}}
                        
                        <select class="btn btn-default btn-lg" 
                                name = "fornecedor" 
                                style="width: 70%"
                                ng-options="fornecedor as fornecedor.nome for fornecedor in fornecedores track by fornecedor.id"
                                ng-model="alterado.fornecedor"
                                >                                     
                        </select>
                    </p>


                    <span class="lead">Selecione a Seção:</span>
                    <p>
                        <!-- <select ng-model="novo.secao" class="btn btn-default btn-lg" name = "secao" style="width: 50%">
                            <option value=""></option>
                        </select> -->
                        <select ng-model="alterado.secao"  
                                class="btn btn-default btn-lg" 
                                name = "secao" 
                                style="width: 70%"
                                ng-options="secao as secao.nome for secao in secoes track by secao.id"></select>
                    </p>

                    <span class="lead">Selecione o Vendedor:</span>
                    <p>
                        <select ng-model="alterado.vendedor" 
                                class="btn btn-default btn-lg" 
                                name = "vendedor" 
                                style="width: 70%"
                                ng-options="vendedor as vendedor.nome for vendedor in vendedores track by vendedor.id">                
                        </select>
                    </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="update(bufferAlterar, alterado)" data-dismiss="modal">Salvar alterações</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Deletar -->
<div class="modal fade" id = "deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Deletar</h4>
            </div>
            <div class="modal-body">                
                <strong>Cuidado!</strong> Deseja Realmente excluir?.                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="Delete(toDelete)">Sim</button>        
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal Cadastrar -->
<div class="modal fade" id="InserirModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Inserir Novo Registro</h4>
            </div>
            <div class="modal-body">
                <form id="cadCli">
                    <span class="lead">Selecione o Cliente:</span>
                    <p>
                        <select ng-model="novo.cliente" 
                                class="btn btn-default btn-lg" 
                                name = "cliente"
                                style="width: 100%"
                                ng-options="cliente as cliente.nome for cliente in clientes track by cliente.id">          
                        </select>
                    </p>


                    <span class="lead">Selecione o Fornecedor:</span>
                    <p>
                        <!-- <select ng-model="novo.fornecedor" class="btn btn-default btn-lg" name = "fornecedor" style="width: 50%">
                            <option value=""></option>
                        </select> -->
                        <select ng-model="novo.fornecedor"  
                                class="btn btn-default btn-lg" 
                                name = "secao" 
                                style="width: 100%"
                                ng-options="fornecedor as fornecedor.nome for fornecedor in fornecedores track by fornecedor.id"
                                ng-change="selectVendedores(novo.fornecedor)">
                                    
                        </select>
                    </p>

                    <span class="lead">Selecione o Vendedor:</span>
                    <p>
                        <select ng-model="novo.vendedor" 
                                class="btn btn-default btn-lg" 
                                name = "vendedor" 
                                style="width: 100%"
                                ng-options="vendedor as vendedor.nome for vendedor in vendedores track by vendedor.id">                
                        </select>
                    </p>

                    <span class="lead">Selecione a Seção:</span>
                    <p>
                        <!-- <select ng-model="novo.secao" class="btn btn-default btn-lg" name = "secao" style="width: 50%">
                            <option value=""></option>
                        </select> -->
                        <select ng-model="novo.secao"  
                                class="btn btn-default btn-lg" 
                                name = "secao" 
                                style="width: 100%"
                                ng-options="secao as secao.nome for secao in secoes track by secao.id"></select>
                    </p>
            </div>

            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="cadastrar(novo)"
                        ng-disabled="!novo.cliente || !novo.fornecedor || !novo.secao || !novo.vendedor"
                        data-dismiss="modal">Gravar</button>                
            </div>
        </div>
    </div>
</div>